GITHUB_ENTERPRISE=your-github-enterprise-name
GITHUB_ORGANIZATION=your-github-organization-name
MY_GITHUB_TOKEN=your-github-token
GITHUB_API_VERSION=2022-11-28
GITHUB_API_SCOPE=organization

AZURE_COSMOSDB_ENDPOINT=your-azure-cosmosdb-endpoint

AZURE_AD_CLIENT_ID=your-azure-ad-client-id
AZURE_AD_CLIENT_SECRET=your-azure-ad-client-secret
AZURE_AD_TENANT_ID=your-azure-ad-tenant-id
AZURE_AD_APP_Role=your-azure-ad-app-role

NEXTAUTH_SECRET=your-next-auth-secret
#your-front-end-app-url
NEXTAUTH_URL=http://localhost:3000